@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&display=swap');

.card {
    width: 400px;
    margin: 5px;
    text-align: center;
    border-radius: 20px;
    font-family: 'Big Shoulders Display', cursive;
}
.card h1{
    padding: 10px 0px;
}
.card img{
    width: 100%;
}
body{
    background-color: blanchedalmond;
}
#dataProvider{
    text-align: center;
    margin: 10px;
}
#dataProvider a{
    color: black;
    font-size: 21px;
    text-decoration: none;
}

.header{
    height: 300px;
    background-image: url("images/erik-mclean-8SeJUmfahu0-unsplash.jpg");
    background-size: contain;
    text-align: center;
    color: white;
}
.header h1{
    font-family: 'Stalinist One', cursive;
    text-shadow: 2px 2px black;
    /* font-size: xx-large; */
    padding: 40px 0px;
}

input#foodInput {
    font-size: 25px;
}

button#search {
    font-size: 25px;
}